.hover-image-scale {
  max-width: 800px;
  max-height: 500px;
  margin-bottom: 25px;
  overflow: hidden;
  box-shadow: none;
  transition: $fastTrans;

  &:hover {
    box-shadow: 0 6px 21px 0 var(--link-color-for-dark);
  }
}

.hover-image-scale img {
  display: block;
  border-radius: 20px;
}

.hover-image-scale img:hover {
  transform: scale(1.2);
}